BUCKET="..."
export BT_PUBLISH_LOGS="s3://${BUCKET}/logs"
export BT_PUBLISH_IMGS="s3://${BUCKET}/images"
export BT_PUBLISH_META="s3://${BUCKET}/metadata"
export BT_PUBLISH_SCREENS="s3://${BUCKET}/screens"
export BT_PUBLISH_PROFILES="s3://${BUCKET}/profiles"
export BT_GPGKEY=26147592087C0EDE42143B637761DEBABBCFBA7C
export BT_ISOS=/mnt/isos
export BT_IMGS=/mnt/imgs
export BT_QEMU=/mnt/qemu
export BT_BUILDS=/mnt/builds
export BT_SCREENS=/mnt/screens
export BT_PROFILES=/turnkey/tklbam-profiles
export BT_PRODUCTS=/turnkey/fab/products

# Setting these variables when building appliances is highly recommended.
# See ~/.bashrc.d/github (on TKLDev) for more info and set there to always have
# these in your environment. Alternatively, hard code specific values here for
# use with buildtasks.
export GITHUB_USER="${GITHUB_USER}"
export GITHUB_USER_TOKEN="${GITHUB_USER_TOKEN}"

export BASE_DIR=/turnkey/public

# Default git remote when cloning any needed repos
export GIT_REMOTE_URL="${GIT_REMOTE_URL:-https://github.com/turnkeylinux}"
export GIT_REMOTE_NAME="${GIT_REMOTE_NAME:-origin}"
